@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
  font-family: Lato;
  background-color: #f4f0ec;
}

* {
  margin:0;
  padding:0;
box-sizing: border-box;
}



#app {
  top:150px;
  position:relative;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:325px;
  border-radius: 15px;
  background-color: #f4f0ec;
  border:1px solid #dbd7d2;

}

#header {
  text-align:center;
  background: linear-gradient(to top, #0247cc, #0686cd ); 
  padding:0px 30px 5px 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color:#FFFFFF;
}

h1 {
  font-size: 1.959rem;
}

.campo{
  max-width: 600px;
  color:#000000;
  display: flex;
  padding: 30px;
  margin: 30px 10px;
  justify-content: center;
  border-radius: 10px;
  
}

select, input[type=number], .display-values {
  padding:5px;
  outline: none;
  background-color: #FFFFFF;
  border-radius: 5px;
  border:1px solid #dcdcdc;
  color:#000000;
}

option {
  background-color: #FFFFFF;
  color:#000000;
}

span {
  display: inline;
}


.currency{
  width: 25px;
  padding: 10px 10px 10px 0;  
}

.btn {
  padding:10px 10px 10px 10px;
  background: linear-gradient(to top, #0247cc, #0686cd );
  border:none;
  border-radius: 5%;
  font-family: Lato;
  font-weight: bold;
  margin-left:20px;
  color:white;
}


input:focus {
  background-color: #9c95a744;
  color:#000000;
}

::-webkit-input-placeholder{
  color:#000000;
}


/* remove arrows from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}