@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
  font-family: Lato;
}

* {
  margin:0;
  padding:0;

}



#app {
  top:20px;
  position:relative;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#header {
  text-align:center;
}

.campo{
  max-width: 600px;
  color:#FFFFFF;
  display: flex;
  padding: 30px;
  margin: 30px 10px;
  justify-content: center;
  background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #2b0f4d 74%);
  
}

label {
  width: 50px;
  display: block;
  padding:10px 10px 10px 0;
  margin-right: 25px;
}

select, input[type=number], .display-values {
  padding:5px;
  outline: none;
  background-color: #ab7ee244;
  border: none;
  color:#FFFFFF;
}



.currency{
  width: 25px;
  padding: 10px 10px 10px 0;  
}

#button {
  padding:15px 15px 15px 15px;
  background-color: orange;
  border:none;
  border-radius: 5%;
  font-family: Lato;
  font-weight: bold;
}


/* remove arrows from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}